<!-- password_reset.html -->
{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ form.email.label_tag }}
      {{ form.email }}
      {% if form.email.error %}
        <p> errors </p>
        <span class="error">{{ form.email.error }}</span>
      {% endif %}
    </div>
    <button class='button' type="submit">Send Reset Instructions</button>
  </form>
  <p><a href="{% url 'login' %}">Back to Login</a></p>
{% endblock %}
